[user]
	name = BrunoVernay
	email = BrunoVern.a@gmail.com
[push]
	default = simple
[color]
	ui = auto
[url "https://BrunoVernay@github.com"]
	insteadOf = https://github.com
[credential]
    helper = cache --timeout=28800
[init]
	templatedir = /home/bruno/gerrit_template
[core]
	autocrlf = input

[merge "mps"]
	name = MPS merge driver
	driver = "\"/home/bruno/.MPS33/config/mps-merger.sh\" %O %A %B %L"
